/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 7, 2017, 3:22:10 PM
    Author     : nonfrt
*/

.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}
 

.default-color1 { 
    -fx-stroke: #f0e68c; 
    -fx-bar-fill: #f0e68c;
}
.default-color2 { -fx-stroke: #dda0dd; }
.default-color0 { -fx-stroke: #e9967a; }